# =========================
# Python / Django
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# virtual environment
venv/
backend/venv/

# env files
.env
.env.*
backend/.env
frontend/.env
frontend/.env.local
frontend/.env.production.local

# Django local files
media/
backend/media/
staticfiles/
backend/staticfiles/

# =========================
# Node / Next.js
# =========================
node_modules/
frontend/node_modules/

.next/
frontend/.next/

out/
frontend/out/

build/
frontend/build/

dist/
frontend/dist/

.pnp
.pnp.*
.yarn/*
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
coverage/
frontend/coverage/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Vercel
.vercel/
frontend/.vercel/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
backend/postgres_old_data.json